---
layout: statistics
title: PetitBonhomme | Number of Wears Statistics
active_nav: wear_counts
---

<h2>Wears Distribution</h2>

<div id="wear-bins-container" class="wear-distribution-wrap">
    {% assign wear_bins = "0,1-5,6-10,11-30,31-100,101+" | split: "," %}

    {% for bin in wear_bins %}
        {% assign min = bin | split: "-" | first | plus: 0 %}
        {% assign max = bin | split: "-" | last | plus: 0 %}
        {% assign count = 0 %}

        {% for item in site.data.clothing_items %}
            {% assign wears = item.total_wear_count | default: 0 %}

            {% if bin == "100+" and wears > 100 %}
                {% assign count = count | plus: 1 %}
            {% elsif wears >= min and wears <= max %}
                {% assign count = count | plus: 1 %}
            {% endif %}
        {% endfor %}
        <div class="wear-bin">
            <h3 class="wear-bin-title">{{ bin }} Wears</h3>
            <p>{{ count }} items</p>
            <div class="wear-bin-items">
                {% for item in site.data.clothing_items %}
                    {% assign wears = item.logged_wear_count | default: 0 %}

                    {% if bin == "101+" %}
                        {% if wears > 100 %}
                            {% unless item.image == "Close-Up/" %}
                                <a href="{{ '/wardrobe/' | append: item.id | append: '.html' | relative_url }}">
                                    <img src="{{ "/assets/img/clothes/" | append: item.image | relative_url }}" alt="{{ item.name }}">
                                </a>
                            {% endunless %}
                            {% assign count = count | plus: 1 %}
                        {% endif %}
                    {% else %}
                        {% if wears >= min and wears <= max %}
                            {% unless item.image == "Close-Up/" %}
                                <a href="{{ '/wardrobe/' | append: item.id | append: '.html' | relative_url }}">
                                    <img src="{{ "/assets/img/clothes/" | append: item.image | relative_url }}" alt="{{ item.name }}">
                                </a>
                            {% endunless %}
                            {% assign count = count | plus: 1 %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>