{% assign sorted_brands = site.data.clothing_items_brands | sort: 'name' %}
<div class="brand-widget">
    <button type="button" class="all-brands-toggle-button">Select None</button>
    <div class="brand-checkboxes-wrap">
        {% for brand in sorted_brands %}
            <div>
                <label>
                    <input type="checkbox" name="brand" value="{{ brand.name }}" checked>
                    <span class="filter-label">{{ brand.name }}</span>
                </label>
            </div>
        {% endfor %}
    </div>
</div>

<script>
    function toggleBrandSelector(forceSelectAll = false) {
		const datasetCheckboxes = brandWidget.querySelectorAll('input[name="brand"]');
        let allChecked;
        if (forceSelectAll) {
            allChecked = false;
        } else {
            allChecked = Array.from(datasetCheckboxes).every(checkbox => checkbox.checked);
        }
		datasetCheckboxes.forEach(checkbox => checkbox.checked = !allChecked);
		document.getElementById('select-all-datasets').textContent = allChecked ? 'Select All' : 'Select None';
	}

    document.addEventListener("DOMContentLoaded", function() {
        document.getElementById('all-brands-toggle-button').addEventListener('click', function () {
            toggleBrandSelector();
        });
        }
    );
</script>