{% assign all_color_families = site.data.clothing_items_colors | map: "family" | uniq %}

<div class="color-widget">
{% for color_family in all_color_families %}
  {% include color_selector_family.html family=color_family %}
{% endfor %}
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const familyCheckboxes = document.querySelectorAll(".color-family-checkbox");

    function toggleFamilySelection(familyCheckbox) {
      familyCheckbox.classList.toggle("selected");
      const familyName = familyCheckbox.dataset.family;
      const colorSelectors = document.querySelectorAll(`.color-family-colors-wrap .color-selector[data-family="${familyName}"]`);

      colorSelectors.forEach(selector => {
        if (familyCheckbox.classList.contains("selected")) {
          selector.classList.add("selected");
        } else {
          selector.classList.remove("selected");
        }
      });
    }

    familyCheckboxes.forEach(familyCheckbox => {
      familyCheckbox.addEventListener("click", function () {
        toggleFamilySelection(familyCheckbox);
      });
    });

    function toggleColorSelector(colorSelector) {
      const familyName = colorSelector.dataset.family;
      const familyWrap = document.querySelector(`.color-family-selector-wrap[data-family="${familyName}"]`)
      const familyCheckbox = familyWrap.querySelector('.color-family-checkbox');

      colorSelector.classList.toggle("selected");

      if (colorSelector.classList.contains("selected") && !familyCheckbox.classList.contains("selected")) {
        colorSelector.classList.add("selected");
      }

      const allColorSelectors = familyWrap.querySelectorAll('.color-selector');
      const noneSelected = Array.from(allColorSelectors).every(selector => !selector.classList.contains('selected'));
      if (noneSelected) {
        colorSelector.classList.remove("selected");
      }
    }

    const colorSelectors = document.querySelectorAll(".color-selector");
    colorSelectors.forEach(colorSelector => {
      colorSelector.addEventListener("click", function() {
        toggleColorSelector(colorSelector);
      });
    });
  });
</script>