{% assign color_family = include.family %}
{% assign colors = site.data.clothing_items_colors | where: "family", color_family %}

<div class="color-family-selector">
  <div class="color-family-selector-wrap">
    <!-- Family Checkbox -->
    <div class="color-family-checkbox-wrap">
      <input type="checkbox" class="color-family-checkbox" data-family="{{ color_family }}" checked>
    </div>

    <!-- Individual Color Checkboxes -->
    <div class="color-family-colors-wrap">
      {% for color in colors %}
        {% include color_selector.html color=color%}
      {% endfor %}
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const familyCheckboxes = document.querySelectorAll(".color-family-checkbox");

    function toggleFamilySelection(familyCheckbox) {
      const familyName = familyCheckbox.dataset.family;
      const colorSelectors = document.querySelectorAll(`.color-family-colors-wrap .color-selector[data-family="${familyName}"]`);

      colorSelectors.forEach(selector => {
        if (familyCheckbox.checked) {
          selector.classList.add("selected");
        } else {
          selector.classList.remove("selected");
        }
      });
    }

    familyCheckboxes.forEach(familyCheckbox => {
      familyCheckbox.addEventListener("change", function () {
        toggleFamilySelection(familyCheckbox);
      });
    });

    const colorSelectors = document.querySelectorAll(".color-selector");
    colorSelectors.forEach(colorSelector => {
      colorSelector.addEventListener("click", function() {
        const familyName = colorSelector.dataset.family;
        const familyCheckbox = document.querySelector(`.color-family-checkbox[data-family="${familyName}"]`);

        colorSelector.classList.toggle("selected");

        if (colorSelector.classList.contains("selected") && !familyCheckbox.checked) {
          familyCheckbox.checked = true;
        }
      });
    });
  });
</script>
