{% assign show_wheel = include.show_wheel | default: false %}

<div class="outfit-stack" onmouseover="showWheel(this)" onmouseout="hideWheel(this)" on click="hide wheel(this)">
  <!-- Usual stacked outfit display -->
  {% for item_name in include.outfit.items %}
    {% assign item = site.data.clothing_items | where: "name", item_name | first %}
    {% if item and item.worn_image and item.worn_image != 'Worn/' %}
      {% assign full_image_path = "assets/img/clothes/" | append: item.worn_image %}
      <img src="{{ site.baseurl }}/{{ full_image_path }}" alt="{{ item.name }}" class="outfit-item-image" style="z-index: {{item.z_index}}">
    {% endif %}
  {% endfor %}

  <!-- Wheel of images to appear on hover -->
  <div class="wheel" {% if show_wheel %}{% else %}style="visibility: hidden;"{% endif %}>
    {% for item_name in include.outfit.items %}
      {% assign item = site.data.clothing_items | where: "name", item_name | first %}
      {% if item %}
        {% assign wheel_image_path = "assets/img/clothes/" | append: item.image %}
        <a href="{{ '/wardrobe/' | append: item.id | append: '.html' | relative_url }}">
          <div class="outfit-wheel-item-image-wrap">
            <img src="{{ site.baseurl }}/{{ wheel_image_path }}" alt="{{ item.name }}" class="outfit-wheel-item-image">
          </div>
        </a>
      {% endif %}
    {% endfor %}
  </div>
</div>