{% assign show_wheel = include.show_wheel | default: false %}

<div class="outfit-stack" onmouseover="showWheel(this)" onmouseout="hideWheel(this)">
  <!-- Usual stacked outfit display -->
  {% for item_name in include.outfit.items %}
    {% assign item = site.data.clothing_items | where: "name", item_name | first %}
    {% if item and item.worn_image and item.worn_image != 'Worn/' %}
      {% assign full_image_path = "assets/img/clothes/" | append: item.worn_image %}
      <img src="{{ site.baseurl }}/{{ full_image_path }}" alt="{{ item.name }}" class="outfit-item-image" style="z-index: {{item.z_index}}">
    {% endif %}
  {% endfor %}

  <!-- Wheel of images to appear on hover -->
  <div class="wheel" {% if show_wheel %}{% else %}style="visibility: hidden;"{% endif %}>

    {% assign outfit_items = "" | split: "" %}
    {% for item_name in include.outfit.items %}
      {% assign matching_item = site.data.clothing_items | where: "name", item_name | first %}
      {% if matching_item %}
        {% assign outfit_items = outfit_items | push: matching_item %}
      {% endif %}
    {% endfor %}

    {% assign filtered_items = outfit_items | where_exp: "item", "item.image != 'Close-Up/'" %}
    {% assign item_count = filtered_items.size %}

    {% if item_count > 0 %}
      {% assign angle_step = 360 | divided_by: item_count %}
      {% for item in filtered_items %}
        {% if item.image and item.image != 'Close-Up/' %}
          {% assign angle = forloop.index0 | times: angle_step %}
          {% assign wheel_image_path = "assets/img/clothes/" | append: item.image %}
          <a class="outfit-wheel-item-image-wrap" href="{{ '/wardrobe/' | append: item.id | append: '.html' | relative_url }}" style="--angle: {{ angle }}deg;">
            <div>
              <img src="{{ site.baseurl }}/{{ wheel_image_path }}" alt="{{ item.name }}" class="outfit-wheel-item-image">
            </div>
          </a>
        {% endif %}
      {% endfor %}
    {% endif %}
  </div>
</div>