{% for category in include.categories %}
  <div class="category-wrap">
    {% assign firstHeader = site.data.clothing_items_categories | find: "name", category.name %}
    <div class="category-title {% if firstHeader %}first-category-title {% endif %}collapsible-header">
        <h2><span>{{ category.name | title_case }}</span><span class="arrow-down"> </span></h2>
    </div>
    <div class="collapsible-content">
      {% if category.children %}
        {% include wardrobe_by_category.html categories=category.children item_template_name=include.item_template_name %}
      {% else %}
        {% assign category_items = site.data.clothing_items | where: "category", category.name %}

        {% if category_items.size > 0 %}
          <div class="category-items-wrap">
            {% for item in category_items %}
              {% include item_display_forking.html template_name=include.item_template_name item=item %}
            {% endfor %}
          </div>
        {% endif %}
      {% endif %}
    </div>
  </div>
{% endfor %}
