{% assign only_first_level = include.only_first_level | default: "false" %}
{% assign item_template_name = include.item_template_name | default: "wardrobe" %}
<div id="wardrobe-and-filters-wrap">
<div class="wardrobe-filters-wrap">
<h3 id="wardrobe-filter-title" class="collapsible-header"><span>Filters</span><span class="arrow-down"> </span></h3>
<div class="collapsible-content">
{% include brand_selector.html %}
{% include color_selector.html %}
</div>
</div>

<div id="wardrobe-wrap">
{% include wardrobe_by_category.html categories=site.data.clothing_items_categories item_template_name=item_template_name only_first_level=only_first_level%}
</div>
</div>

<script>
document.addEventListener("DOMContentLoaded", function() {
    const nextCollapsibles = document.querySelectorAll(".collapsible-header");

    nextCollapsibles.forEach(function (e) {
        e.addEventListener("click", function () {
            this.classList.toggle("collapsed");
            this.nextElementSibling.classList.toggle("hidden");
        });
    });

  function filterWardrobeItems() {
    const selectedBrands = Array.from(document.querySelectorAll('.brand-checkbox-wrap input:checked'))
                               .map(input => input.value.toLowerCase());
    const selectedColors = Array.from(document.querySelectorAll('.color-selector.selected'))
                               .map(colorEl => colorEl.dataset.color.toLowerCase());

    const wardrobeItems = document.querySelectorAll('.wardrobe-item');

    wardrobeItems.forEach(item => {
      const itemBrand = item.dataset.brand.toLowerCase();
      const itemColors = item.dataset.colors.toLowerCase().split(" ");

      const brandMatch = selectedBrands.length === 0 || selectedBrands.includes(itemBrand);
      const colorMatch = selectedColors.length === 0 || itemColors.some(color => selectedColors.includes(color));

      if (brandMatch && colorMatch) {
        item.style.display = '';
      } else {
        item.style.display = 'none';
      }
    });

    const categoryWraps = document.querySelectorAll('.category-wrap');
      categoryWraps.forEach(categoryWrap => {
      const visibleItems = categoryWrap.querySelectorAll('.wardrobe-item:not([style*="display: none"])');
      categoryWrap.style.display = visibleItems.length > 0 ? '' : 'none';
    });
  }

  function setupColorSelector() {
    const familyCheckboxes = document.querySelectorAll(".color-family-checkbox");
    familyCheckboxes.forEach(familyCheckbox => {
      familyCheckbox.addEventListener("click", filterWardrobeItems);
    });

    const colorSelectors = document.querySelectorAll(".color-selector");
    colorSelectors.forEach(colorSelector => {
      colorSelector.addEventListener("click", filterWardrobeItems);
    });
  }

  function setupBrandSelector() {
    const brandWidgets = document.querySelectorAll('.brand-widget');

    brandWidgets.forEach(brandWidget => {
      const searchInput = brandWidget.querySelector('.brand-search');
      searchInput.addEventListener('input', () => {
        const filterValue = searchInput.value.toLowerCase();
        brandWidget.querySelectorAll('.brand-checkbox-wrap').forEach(item => {
          item.style.display = item.dataset.brand.toLowerCase().includes(filterValue) ? '' : 'none';
        });
      });

      brandWidget.querySelectorAll('input[name="brand"]').forEach(checkbox => {
        checkbox.addEventListener('change', filterWardrobeItems);
      });
    });
  }

  setupColorSelector();
  setupBrandSelector();
});
</script>
