---
layout: default
---

{% assign years_with_logs = "" | split: "" %}

{% for log in site.data.day_logs %}
  {% assign log_year = log.date | date: "%Y" %}

  {% unless years_with_logs contains log_year %}
    {% assign years_with_logs = years_with_logs | push: log_year %}
  {% endunless %}
{% endfor %}

{% assign years_with_logs = years_with_logs | sort %}

<div class="calendar-navigation">
  <div class="calendar-navigation-wrap">
    {% for year in years_with_logs %}
      {% assign months_with_logs = "" | split: "" %}
      {% assign current_year = year %}

      {% for log in site.data.day_logs %}
        {% assign log_year = log.date | date: "%Y" %}
        {% assign log_month = log.date | date: "%m" %}

        {% if log_year == current_year %}
          {% unless months_with_logs contains log_month %}
            {% assign months_with_logs = months_with_logs | push: log_month %}
          {% endunless %}
        {% endif %}
      {% endfor %}

      {% assign months_with_logs = months_with_logs | sort %}
      {% assign earliest_month = months_with_logs.first %}

      <div><a class="calendar-navigation-button{% if year == page.year %} active{% endif %}" href="{{ '/calendar/' | append: year | append: '/' | append: earliest_month | relative_url }}">{{ year }}</a></div>
    {% endfor %}
  </div>

  {% assign months_with_logs = "" | split: "" %}
  {% assign current_year = page.year %}

  {% for log in site.data.day_logs %}
    {% assign log_year = log.date | date: "%Y" %}
    {% assign log_month = log.date | date: "%m" %}

    {% if log_year == current_year %}
      {% unless months_with_logs contains log_month %}
        {% assign months_with_logs = months_with_logs | push: log_month %}
      {% endunless %}
    {% endif %}
  {% endfor %}

  {% assign months_with_logs = months_with_logs | sort %}

  <div class="calendar-navigation-wrap">
    {% for month in months_with_logs %}
      {% assign month_date = current_year | append: '-' | append: month | append: '-01' %}
      <div>
        <a class="calendar-navigation-button{% if month == page.month %} active{% endif %}" href="{{ '/calendar/' | append: current_year | append: '/' | append: month | relative_url }}">
          {{ month_date | date: "%B" }}
        </a>
      </div>
    {% endfor %}
  </div>
</div>

<div class="calendar-grid">
  {% assign date_prefix = page.year | append: '-' | append: page.month %}
  {% assign days_in_month = site.data.day_logs | where_exp: "log", "log.date contains date_prefix" %}
  {% assign sorted_days = days_in_month | sort: "date" %}

  {% for day in (1..31) %}
    {% assign day_str = day %}
    {% if day < 10 %}
      {% assign day_str = day_str | prepend: 0 %}
    {% endif %}
    {% assign current_date = page.year | append: "-" | append: page.month | append: "-" | append: day_str %}

        {% assign log_for_day = sorted_days | where: 'date', current_date %}
        {% if log_for_day.size > 0 %}

    <div class="calendar-day">
      <div class="calendar-day-header">
        {% assign day_suffix = current_date | date: "%-d" %}

        {% if day_suffix == "1" or day_suffix == "21" or date == "31" %}
          {% assign day_suffix = day_suffix | append: "st" %}
        {% elsif day_suffix == "2" or day_suffix == "22" %}
          {% assign day_suffix = day_suffix | append: "nd" %}
        {% elsif day_suffix == "3" or day_suffix == "23" %}
          {% assign day_suffix = day_suffix | append: "rd" %}
        {% else %}
          {% assign day_suffix = day_suffix | append: "th" %}
        {% endif %}
        {{ day_suffix }} {{ current_date | date: "%B %Y" }}
      </div>

      <div class="outfits-wrap">
        {% for log in log_for_day %}
          {% for outfit in log.outfits %}
            {% include outfit_display.html outfit=outfit %}
          {% endfor %}
        {% endfor %}
        </div>
      </div>
        {% endif %}
  {% endfor %}
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        {% include outfit_display_setup.js %}
    });
    {% include outfit_display_animation.js %}
</script>
