---
layout: default
title: PetitBonhomme | Statistics
extra_html_head: |
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
---

<h1>Statistics</h1>

<div class="graph-comparison-wrap">
    <div class="graph-wrap">
        <h3>Color Shares<br>Wardrobe</h3>
        <canvas id="wardrobeColorDoughnutChart"></canvas>
    </div>

    <div class="graph-wrap">
        <h3>Color Shares<br>Worn Items</h3>
        <canvas id="wornColorDoughnutChart"></canvas>
    </div>

</div>

<script>

{% include color_doughnut.js prefix='ward' data_name="wardrobe_color_count" element_id="wardrobeColorDoughnutChart" %}
{% include color_doughnut.js prefix='worn' data_name="worn_color_count" element_id="wornColorDoughnutChart" %}

</script>
